<!-- DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CO-Story</title>
</head>
    <header class="text-gray-700 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center" >
          <a href="./index.html" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
           <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
           </svg>
           <div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
           <span class="ml-5 text-3xl ">Co-Story </span>
         </div>
         </a>
        
        <nav class="md:ml-auto md:mr-5 flex flex-wrap items-center text-base fixed-center text-xl">
           <a href="./index.html" class="mr-5 hover:text-gray-900">HOME</a>
           <a href="./yourTestimonial.html" class="mr-5 hover:text-gray-900">MY COVID STORY</a>
           <a href="./testimonials.html" class="mr-5 hover:text-gray-900">TESTIMONIALS</a>
           <a href="./ourTeam.html" class="mr-5 hover:text-gray-900">OUR TEAM</a>
         </nav> -->
 <!--       </div>
</header> --> {% extends "index.html" %}
   {% block content %}
<body>
<style>
    body {
		background: url("https://wallpaperaccess.com/full/1668903.jpg" ) no-repeat;
		background-size: cover;
		font-family: Arial; 
		color: white;
	}

  </style>
    <section class="text-gray-700 body-font bg-pink-200">
        <div class="container px-5 py-10 mx-auto">
          <div class="flex flex-col text-center w-full mb-20">
            <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">OUR TEAM</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">We at Co-Story hope to have helped everyone out and hope to have done justice to their queries relating to COVID-19 by showcasing how others have fought this virus.</p>
          </div>
          <div class="flex flex-wrap -m-4">
            <div class="p-4 lg:w-1/2">
              <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
                <img  class="flex-shrink-0 rounded-lg w-40 h-40 object-cover object-center sm:mb-0 mb-4" src="https://lh3.googleusercontent.com/shoQLygNEisoxby6nHShnZeqocNYUWljZArsPopZR7ATWpV7RsiXTRsSm263xogCvqSupzdYFhJL7aBt6vsb66uKxR8E99JX_750wjrqIRD0lgGw2B_S-LQbkDlxXd4l2I6aJ3M-46DLM0m51XznLSKFVAtylDMgqKOhmZtBgKY7qXGveiWWCvVNdtoQbLJL2hEg3mDxDWRQ0LBQxNE8iM1PTxTFRUafkZNor37WWD8P-AtyASHUR-HpssfYaA1jvi3FNEibuCd6sIJdaLY7XZ9CMaTOMOr_OoellHwMiSHsD-wNE1NTnEVdm1cxv6C3Q3UB3og1h2Om1fs6bWoy0vpK8tPS8MWQbdx_uIJFb6pcblltKcY_bTOfBalOsf_8UO-Rw5rKDMkdtKpmR8xTnwhHyR6ZUHQEixkX_q3F0oWK5N-joEyLkem15LV5spZnu64bpdPCexVfup19ZebKJIljSUxDDWs0buZKImAfKRILF6Gconrx5YxdfGbrNeT3uumjR-dTBbvr_LLgyo2QmEe77vkTlSL8yownjtYWbQiX4G0Ood6Nu_0-45y8l6uX-K4lYTQr5VtD9SLUQ8w2_wCNXRa9w5OYhF2iuYjJmQehN6fyjfiFfgUq7VNcMmBuDTdAU8p-p_xsOCaiP_ZymXEt87kzi8y6UdE5oDGLmlvYJs0yhAhDHiM-zlWH0A=w426-h699-no?authuser=0">
                <div class="flex-grow sm:pl-8">
                  <h2 class="title-font font-medium text-lg text-gray-900">Prisha Panchmia</h2>
                  <h3 class="text-gray-500 mb-3">TSEC '23</h3>
                  <!--<p class="mb-4">Front-end developer.</p>-->
                  <span class="inline-flex">
                    <a class="text-gray-500">
                      <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                      </svg>
                    </a>
                    <a class="ml-2 text-gray-500">
                      <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                      </svg>
                    </a>
                    <a class="ml-2 text-gray-500">
                      <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                      </svg>
                    </a>
                  </span>
                </div>
              </div>
            </div>
            <div class="p-4 lg:w-1/2">
              <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
                <img alt="team" class="flex-shrink-0 rounded-lg w-40 h-40 object-cover object-center sm:mb-0 mb-4" src="https://lh3.googleusercontent.com/OLtg4AXcO_2KHttJbPPLPXXcqJWAHIcMZqNtDCGkJkvFBhJ6Wi-gVcNi814U8ZE-1oTYoaeDeXzRGV6u9ofJ9D_hLqqrgIlRf8Xpgi0jRzK5M2e_ldt8OTjtIIq7ZNrosrbW2zLgD9a1qnhiBR9imjmS-PYSwaSR0p6Y5H5h9ma8P-Lu4oVjhcNIgSgTb4bmNz4h9rUEhgNgMwOEhw59OOCSqKWNZlSsbqmFOjoX2ysa_DCV5RdamrHqRVfYYbCHoEcShaDndlcr4M6hooaXDYXPJpBVhsuePxydDSAk-Lk0ubtnojqoNgzApdhSYh2RE-N9A-hX0qrlE3o7Vpqf6NqU7xEtNtMR-RByz_72aI5V6YvBIW483YQ2w-AJuy-xW8nKLiKPKEDTvKQ8bXyPOY7oKs32OE03WGZpTRH6cpyiQrs_9rWeRdWuQl3_gFEFJCpSrB4QCDBv4GOviv0ZPkoWocWjxoaIlh36qsJhHRi-WsAJAO79AxbGzWdByE-07ofY2xNBJAGlkJxE0dliwCD_xoCo5a5LbvBrcM7IsRteAGCChUrRhk5KhhXLB5q5t7u_h3THFPwFhGqj8-RYYtf6bPrP9psUd7nTYt7ejBNBGxIQL3vNFzPTEYGt5pAN8FL0N4ev61IFEuHpCBB7NIC-MoFwJe0qzqy1lop9hDlmVomZtKByHQpnLHXzfw=s532-no?authuser=0">
                <div class="flex-grow sm:pl-8">
                  <h2 class="title-font font-medium text-lg text-gray-900">Sakshi Parmar</h2>
                  <h3 class="text-gray-500 mb-3">TSEC '23</h3>
                 <!-- <p class="mb-4">Front-end developer.</p>-->
                  <span class="inline-flex">
                    <a class="text-gray-500">
                      <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                      </svg>
                    </a>
                    <a class="ml-2 text-gray-500">
                      <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                      </svg>
                    </a>
                    <a class="ml-2 text-gray-500">
                      <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                      </svg>
                    </a>
                  </span>
                </div>
              </div>
            </div>
            
            <div class="p-4 lg:w-1/2">
              <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
                <img alt="team" class="flex-shrink-0 rounded-lg w-40 h-40 object-cover object-center sm:mb-0 mb-4" src="https://lh3.googleusercontent.com/fife/ABSRlIogM2fhC8gWsnW7PGTAVWgDeYMLkFHHVfUPTNJR1EKslYb_k5oJ0yTaT4ixtU6h7s8l3LBX2JGJq-UT9AjRkKhz_I6j8XdbTnYCxs3UTNz6q2savjvjQiJf5j46ls8DCdcDfT43x8_iCGZb6JR5PWYrS0QgUsvvwYKNqHZLLy9xzRHU3Gxoqall30ef0euDedeO0lO4PY-CnhDtgaYk5tyPqTmlICL_hiR4I5DSPxU61EUE6bU0s0oqs0_liNOyZ3eqVakA7U7MOIRldSx4X5TmnS8tp4up-6gwRCOTEPfe93jREW2H49FoX4dJYTvDVn5smwhuzrZ7IPvfWP2Gg_oF52KPheO6CMbvkyytzUGaNyjik8ak-EQDbS-qaMEVJ5RxmbRIgQG4sOJcXK7XVVhU1vM1LFjSmruc49rWwrzfDMeZrnnwY8RUOzg78C0z7-kQrTzBvQO5GKsTnZhAo4PEE7GE_aZEukXC8U-8gIeYhxmy9JY1JsxhTt_RsvfYOuuJuhmi3Peh4EajNVVGoui8jvC3WISDFedELQTAnNxqW3wMfehFAjv3yLR1PW51pLaRWXutPj6-kcmMSsiCfxhgp7L38ncnbTjXBbSyyghneTnoyIKZxq2hMw50eIa5QPf2RGhRo6vFD7SYXKaVjj5MW4Hnqqnz4dkXI7yAQlxA5XMyLKitfI7wWLAZ6WfUogHGOnLDuUWbqXnnU-b6JbcaAmOpolO66PxYnA=s328-no?authuser=0">
                <div class="flex-grow sm:pl-8">
                  <h2 class="title-font font-medium text-lg text-gray-900">Trushant Narwani</h2>
                  <h3 class="text-gray-500 mb-3">TSEC '23</h3>
                <!--  <p class="mb-4">Back-end developer.</p>-->
                  <span class="inline-flex">
                    <a class="text-gray-500">
                      <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                      </svg>
                    </a>
                    <a class="ml-2 text-gray-500">
                      <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                      </svg>
                    </a>
                    <a class="ml-2 text-gray-500">
                      <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                      </svg>
                    </a>
                  </span>
                </div>
              </div>
            </div>
            
            <div class="p-4 lg:w-1/2">
              <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
                <img alt="team" class="flex-shrink-0 rounded-lg w-40 h-40 object-cover object-center sm:mb-0 mb-4" src="https://lh3.googleusercontent.com/5et-Y9OiCp4lESObZ1gawMkAbrXNQoiwaAI3LEdtGUrGBJtfZTbrY0Fbqi3fIyJP7vPpKyGwUO3V84As6nvzx2FcdQH4FX3L2xKJtZGeKiJm2DDIz0KvtEv1objPMfDPEC_PbabF08J1ijn6w93JygbkP3ztcY4LG8Od9z3Ge4EAnbJLEx5ptgTw37ybSkIkCmDAUKXH8jQVWHB6E7KQSgr7xyyLwNynPEyVD9my1RXsji7rNyTxVZh4DOqFMddwUrVF6RyRIX5Iaz_0K3lZShdTLQ1llSGKck5tOuzM8zOwP4Kl8YAbmtAoCq8ktIl-TG8kWCxoJbmxQkr2bnb5jksdb-eD7ozSb4X0RKoxPWRL-xL8Ene9zd4Z0uiE4SfuCKwK2mpRBQyHWJocpp0RpYCGCfTnGsrEHlm4m3Kxgrr9BUU-1pnzQmLYWO6p-NOjZO7rznZwZAgp5dd51Fwzb7Y5OA6ylFg2BrUGSqBr5z4qRf_EcMAVjDCMjMS-fLM8CbitnfKkXOF70QvQWKmz4pAha40-0Avm-2FGd2F6eV0CDjRXbv5OlIr8X84VaSjvJYxorhsmdw0r02l543cGQ7NkN7UOkI_Cxv0zAvHFDyZ-zpsz9M0bxoaP6PKFlh83sUow-3WIsS7m1cevS4RaFESEhr315ABfzN5rGkCleDOjpjRNNJ32WjFD78DPqg=w1221-h915-no?authuser=0">
                <div class="flex-grow sm:pl-8">
                  <h2 class="title-font font-medium text-lg text-gray-900">Aryan Parab</h2>
                  <h3 class="text-gray-500 mb-3">TSEC '23</h3>
                 <!-- <p class="mb-4">Back-end developer.</p>-->
                  <span class="inline-flex">
                    <a class="text-gray-500">
                      <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                      </svg>
                    </a>
                    <a class="ml-2 text-gray-500">
                      <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                      </svg>
                    </a>
                    <a class="ml-2 text-gray-500">
                      <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                      </svg>
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}