<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CO-Story</title>
</head>
<header>
    <header class="text-gray-700 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center" >
          <a href="./index.html" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
           <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
           </svg>
           <div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
           <span class="ml-5 text-3xl ">Co-Story </span>
         </div>
         </a> -->

         <!-- <nav class="md:ml-auto md:mr-5 flex flex-wrap items-center text-base fixed-center text-xl">
           <a href="./index.html" class="mr-5 hover:text-gray-900">HOME</a>
           <a href="./yourTestimonial.html" class="mr-5 hover:text-gray-900">MY COVID STORY</a>
           <a href="./testimonials.html" class="mr-5 hover:text-gray-900">TESTIMONIALS</a>
           <a href="./ourTeam.html" class="mr-5 hover:text-gray-900">OUR TEAM</a>
         </nav> -->
     <!--   </div>
    <br> -->
    {% extends 'index.html' %}
       {% block content %}
       <header>
    <section class="text-gray-700 body-font bg-pink-200">
        <h1><center><font face ="DIN Next Light" size="6" color="black">SEVERE CASES</font></center></h1>
    </section>
</header>
<body>
<style>
    body {
		background: url("https://wallpaperaccess.com/full/1668903.jpg" ) no-repeat;
		background-size: cover;
		font-family: Arial; 
		color: white;
	}

  </style>
  <br>
  <div class="self-end">
  <form method="GET" class="text-gray-700 body-font" class="form-inline my-2 my-lg-0">{% csrf_token %}
  <input type="search" name="search_keyword" label="Search By Keyword" font face ="DIN Next Light" size = "10" color="black" class="form-control mr-sm-2" type="search" placeholder="&#128269;">Search By Keyword</input>
 <br>
 
 <button style="width:160;height:24; background-color:"white" type="submit" type="button" class="btn btn-outline-danger" ><font size = "4">Enter</font></button> 
</form>
</div>
  {%for i in qs%}
  <section class="text-gray-700 body-font">
  <div class="container px-5 py-20 mx-auto">
    <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="inline-block w-8 h-8 text-gray-400 mb-8" viewBox="0 0 975.036 975.036">
        <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
      </svg>
      <p  style="width: 600px;
  overflow: hidden;height: 4.2em; 
  text-overflow: -o-ellipsis-lastline;">{{i.description}}</p>
      <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-8 mb-6"></span>
      <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">{{i.name}} - {{i.city}}</h2>
     <a href='{{i.get_absolute_url}}'><p class="text-gray-500">View details</p></a>
	 <section class="text-gray-700 body-font bg-pink-200">
        <h1><center><font face ="DIN Next Light" size = "1" color="black">.</font></center></h1>
    </section>
    </div>
  </div>
</section>
  <!--<ul>
    <li style="color:black" >{{i.name}} - {{i.city}}  ==>
	<a href='{{i.get_absolute_url}}'><font face ="DIN Next Light" size = "4" color="black" class="hover:text-purple-600">View details</font></a>
	</li>
  </ul>-->
  {% endfor %}
</body>
{% endblock %}