body {
    background: url("https://cfsw.org/wp-content/uploads/when-wear-mask-in-public-advice-cdc-e1586288268484.jpg") no-repeat;
    background-size: cover; 
    font-family: Arial; 
    color: white;
}

